.header {
  padding: 30px;
  padding-top: 20px;
  text-align: center;

  color: white;
  font-size: 30px;
}
.bod {
  padding: 60px;
  text-align: center;

  color: white;
  font-size: 30px;
}
body {
  background-image: linear-gradient(#9945ff, #14f195);
}
